# Created by https://www.gitignore.io/api/elisp

### Elisp ###
# Compiled
*.elc

# Packaging
.cask

/.cache/**

/layers/appleshan-dired/local/**
/layers/appleshan-java/local/**
/layers/appleshan-shell/local/**
