# Created by https://www.gitignore.io/api/elisp

### Elisp ###
# Compiled
*.elc

# Packaging
.cask

.cache/
eclipse.jdt.ls/

local/dired-k/
local/terminal-here/
local/pyim-basedict/
local/pyim-greatdict/
